# Consider the above text as a string, figure out the average length of the string.

In [1]:
a="I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

#Calculating total words in string

In [2]:
sents = a.split(' ')
print(len(sents))

63

count each word length and sum all words length

In [3]:
tot_len = sum(len(i.split()) for i in sents) 
print(tot_len)

63

Finding average length by dividing with string length

In [4]:
avg_len = tot_len/ len(sents)
print(avg_len)

1.0

# converting string to lower case

In [5]:
b = a.lower()
print(b)

i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

# Try to get the clean text removing the punctuation from the string

In [6]:
spec_chars = ["!","@","#","$","%","^",",","*",".",",",]
c = "".join(i for i in b if  i not in spec_chars)

In [7]:
print(c)

i am very keen in building up my career in data science but not sure from where to start if i search the web it throws me thousands of articles few are relevant others make me confused again i come around to the same page supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [8]:
for i in spec_chars:
    d = a.replace(i,"")
print(d)

I am very keen in building up my career in Data Science but not sure from where to start. If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

# Extract word "Data Science" from the string.

In [9]:
wrds = ["data","science"]
e = c.split()
[i for i in e if i in wrds]

['data', 'science']

In [10]:
import re
e = re.findall(r'data science',c)
e

['data science']

Find the frequency of words used in the string

In [19]:
def freq(list):
    str_list = list.split()
    uq_wrds = set(str_list)
    for i in uq_wrds:
        print("no of times",i,"occur is :",str_list.count(i))
freq(c)

no of times data occur is : 1
no of times it occur is : 1
no of times my occur is : 2
no of times throws occur is : 1
no of times search occur is : 1
no of times the occur is : 2
no of times provided occur is : 1
no of times few occur is : 1
no of times make occur is : 1
no of times up occur is : 1
no of times a occur is : 1
no of times me occur is : 3
no of times remove occur is : 1
no of times qualms occur is : 1
no of times building occur is : 1
no of times but occur is : 1
no of times am occur is : 1
no of times of occur is : 1
no of times wrangling occur is : 1
no of times platform occur is : 1
no of times which occur is : 1
no of times where occur is : 1
no of times supervised occur is : 1
no of times web occur is : 1
no of times i occur is : 3
no of times career occur is : 1
no of times relevant occur is : 1
no of times good occur is : 1
no of times were occur is : 1
no of times very occur is : 1
no of times are occur is : 1
no of times confused occur is : 1
no of times same occur is : 1
no of times thousands occur is : 1
no of times start occur is : 1
no of times such occur is : 1
no of times in occur is : 3
no of times keen occur is : 1
no of times page occur is : 1
no of times if occur is : 1
no of times science occur is : 1
no of times around occur is : 1
no of times others occur is : 1
no of times has occur is : 1
no of times all occur is : 1
no of times come occur is : 1
no of times from occur is : 1
no of times sure occur is : 1
no of times mind occur is : 1
no of times again occur is : 1
no of times articles occur is : 1
no of times to occur is : 3
no of times not occur is : 1

Fetch the duplicate pairs used in the string

In [21]:
k= [i for i in c.split() if c.split().count(i) >1]
k

['i',
 'in',
 'my',
 'in',
 'to',
 'i',
 'the',
 'me',
 'me',
 'i',
 'to',
 'the',
 'me',
 'to',
 'in',
 'my']

Can you change the word "Supervised" to "Unsupervised" in the string

In [22]:
e = a.replace("Supervised","Unsupervise")
e

'I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervise has provided me a good platform to remove all such qualms which were wrangling in my mind'

Splitting of the string with a dot operator

In [25]:
f = a.split(".")
f

['I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

Find the words from the string which ends with "e"

In [30]:
s = [i for i in c if i.endswith('e')]
print(len(s))

35

Figure out number of a's used in the string.

In [31]:
print(a.count('a'))

22

# Creating a dictionary

In [32]:
dc = {"apple":.250,
     "sugar":.500,
     "rice":2.5,
     "Milk":2.5,
     "egg":1}
dc

{'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'Milk': 2.5, 'egg': 1}

# modifying dict

In [35]:
dc.update({"atta":5,"rice":1})
dc

{'apple': 0.25, 'sugar': 0.5, 'rice': 1, 'Milk': 2.5, 'egg': 1, 'atta': 5}

# Iterating Dict

In [36]:
for i in dc.values():
    print(i)

0.25
0.5
1
2.5
1
5

In [37]:
for i in dc.items():
    print(i)

('apple', 0.25)
('sugar', 0.5)
('rice', 1)
('Milk', 2.5)
('egg', 1)
('atta', 5)

# Billing Question on dictionary

In [38]:
dc_p = {"apple":220,
       "sugar":43,
       "rice":45,
       "Milk":30,
       "egg":60}

In [42]:
def bill_gen(df1,df2):
    try:
        tot_c = []
        for items in df1.keys():
            try:
                if items not in dc.keys():
                    print("stock is not there in menu items")
                else:
                    cost = df1[items]*df2[items]
                    print(items,cost)
                tot_c.append(cost)
            except KeyError:
                print("There are some items added to kart which have no values in price lis")
                print("Total Billable items value is",sum(tot_c))
    except:
        print("there are items added to kart which have no values in price list")
bill_gen(dc,dc_p)

apple 55.0
sugar 21.5
rice 45
Milk 75.0
egg 60
There are some items added to kart which have no values in price lis
Total Billable items value is 256.5

# Questions on List

In [3]:
AI_Companies = ["Amazon","Facebook","HiSillicon","Google","Apple","Microsoft","SenseTime"]

Sort the list in ascending order

In [5]:
sorted(AI_Companies,reverse = True)

['SenseTime',
 'Microsoft',
 'HiSillicon',
 'Google',
 'Facebook',
 'Apple',
 'Amazon']

In [6]:
AI_Companies.sort(reverse=False)

In [13]:
AI_Companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSillicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

Add multiple companies at once

In [14]:
AI_Companies_ext = ['Nvidia', 'OpenAI' , 'Qualcomm','Reliance' ]
for i in range(len(AI_Companies_ext)):
    AI_Companies.append(AI_Companies_ext[i])
print(AI_Companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSillicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm', 'Nvidia', 'OpenAI', 'Qualcomm', 'Reliance']

Lower the list using List comprehension

In [15]:
[i.lower() for i in AI_Companies]

['amazon',
 'apple',
 'facebook',
 'google',
 'hisillicon',
 'microsoft',
 'sensetime',
 'nvidia',
 'openai',
 'qualcomm',
 'nvidia',
 'openai',
 'qualcomm',
 'reliance']

Elimiate 'Reliance' from the list

In [16]:
#mutiple ways to do this
#1. use pop()
#AI_Companies.pop()
#2. use list comprehension
[i for i in AI_Companies if i not in ['Reliance']]

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSillicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

Extract 'Facebook', 'Google' and 'Microsoft' using a single command

In [18]:
list = ['Facebook', 'Google', 'Microsoft']
[i for i in AI_Companies if i in list]

['Facebook', 'Google', 'Microsoft']

# Questions on Tuple

Consider the above standard price problem statement and place the prices in the form of the tuple.

In [20]:
tp1 = (220,43,45,30,60)

In [21]:
print("Min value is",min(tp1))
print("max value is",max(tp1))

Min value is 30
max value is 220

Also, convert the above "AI_companies" list to a tuple

In [23]:
AI_TP = tuple(AI_Companies)
print(type(AI_TP))
print(type(AI_Companies))

<class 'tuple'>
<class 'list'>

Combine two above tuples to a single tuple.

In [24]:
new_tp = tp1+AI_TP

Compare the length of two tuples.

In [25]:
print(len(tp1))
print(len(AI_TP))
print(len(new_tp))

5
14
19